.questions-container {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: stretch;
  font-family: figtree;
  font-size: large;
}
.questions-text-2 {
  margin-top: 3%;
}
.questions-text-3 {
  margin-top: 18%;
}
.q1-link {
  text-decoration: underline;
}

.rev {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.rev.active {
  transform: translateY(20vh);
  opacity: 1;
}

.q {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}
